.ourEvents h2 {
    font-size: 50px;
    text-decoration: underline;
    color: var(--theme-text-color);
    text-align: center;
    margin: 1rem 0rem;
}

.ourEvents img {
    height: 260px;
    width: 358px;
}

.ourEvents .card {
    display: grid;
    grid-template-columns: 358px 1fr;
    margin-bottom: 1rem;
    border: 1px solid rgb(232, 230, 230);
    padding: 0rem 1.5rem;
    gap: 3rem;
    color: var(--theme-text-color);
    font-family: futura-lt-w01-book, sans-serif;
}

.ourEvents .contentBox {
    margin: 1rem 0rem;
}

.ourEvents .card .date {
    font-size: 15px;
    margin-bottom: 1rem;
}

.ourEvents .card .title {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.ourEvents .card .text {
    font-size: 15px;
}

.text-justify {
    text-align: justify;
}