.booking h2 {
  font-size: 30px;
  text-decoration: underline;
  color: var(--theme-text-color);
  text-align: center;
  margin: 1rem 0rem;
}

.booking_btn .booking {
  background-color: var(--theme-bg-color-light);
}

.booking_cnt {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .booking_cnt {
    flex-direction: column-reverse;
    padding: 10px;
  }
}
