.container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.leftSection {
  width: 45%;
}

.heading {
  color: #6b3674;
  text-decoration: underline;
  font-size: 36px;
}

.info {
  font-size: 18px;
  margin: 10px 0;
}

.icon {
  vertical-align: middle;
}

.link {
  text-decoration: none;
  color: #6b3674;
}

.rightSection {
  width: 50%;
}

.form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  color: #6b3674;
  font-weight: bold;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.textarea {
  resize: none;
}

.checkboxLabel {
  color: #6b3674;
}

.checkbox {
  margin-right: 8px;
}

.button {
  background-color: #d1bad6;
  color: #6b3674;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
