@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-text-color: rgb(108, 35, 104);
  --theme-text-color-light: #6C2368;
  --theme-bg-color: rgb(137, 75, 134);
  --theme-bg-color-light: #D274CD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: "100%";
  max-width: 1000px;
  margin: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: 2rem;
}

.footer .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
}

.footer .iconBox {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--theme-text-color);
  display: grid;
  place-items: center;
}

.footer .icon {
  color: white;
}